In [ ]:
df = pd.read_csv("dataset/content_by_synopsys.csv")
df.head()

In [1]:
import pandas as pd
import nltk
nltk.download('punkt')

from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from sklearn.metrics.pairwise import cosine_distances



class RecommendationSystem:
    def __init__(self, data, content_col):
        self.df = pd.read_csv(data)
        self.content_col = content_col
        self.encoder = None
        self.bank = None
        
    def fit(self):
        self.encoder = CountVectorizer(stop_words="english", tokenizer=word_tokenize)
        self.bank = self.encoder.fit_transform(self.df[self.content_col])

    def recommend(self, idx, topk=10):
        content = self.df.loc[idx, self.content_col]
        code = self.encoder.transform([content])
        dist = cosine_distances(code, self.bank)
        rec_idx = dist.argsort()[0,1:(topk+1)]
        return self.df.loc[rec_idx]

[nltk_data] Downloading package punkt to /Users/baim/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [6]:
recSys = RecommendationSystem("dataset/content_by_synopsys.csv","overview")

In [7]:
recSys.fit()

Kita coba rekomendasikan dengan film yg mirip dg index 0 (toy story)

In [8]:
recSys.recommend(0)

,title,overview
14706,Toy Story 3,"Woody, Buzz, and the rest of Andy's toys haven..."
2945,Toy Story 2,"Andy heads off to Cowboy Camp, leaving his toy..."
9984,The 40 Year Old Virgin,Andy Stitzer has a pleasant life with a nice a...
13404,The Gang's All Here,"Playboy Andy Mason, on leave from the army, ro..."
14078,A Matter of Dignity,"During one of her parents many parties, Chloe ..."
6172,The Courtship of Eddie's Father,The film that started the classic TV series. A...
13105,Break Up,"Jimmy is married to the abusive Frank, but she..."
12512,"Sexo, Amor e Traição",The story of two couples who are neighbors and...
8856,Wishful Thinking,A story told from three angles. Max meets Eliz...
11143,Bridge to Terabithia,Jesse Aarons trained all summer to become the ...

Hasil di atas masih kurang baik, karena kita hanya rekomendasikan berdasarkan yng mirip di overviewnya saja.Kita coba perbaiki model kita dengan data yg baru, disini saya membuat kolom baru metadata yg merupakan gabungan dari bebrapa kolom

In [2]:
df2 = pd.read_csv("dataset/content_by_multiple.csv")
df2.head()

,title,genres,cast,keywords,director,metadata
0,Toy Story,animation comedy family,tom_hanks tim_allen don_rickles,jealousy toy boy,john_lasseter,animation comedy family tom_hanks tim_allen do...
1,Jumanji,adventure fantasy family,robin_williams jonathan_hyde kirsten_dunst,board_game disappearance based_on_children's_book,joe_johnston,adventure fantasy family robin_williams jonath...
2,Grumpier Old Men,romance comedy,walter_matthau jack_lemmon ann-margret,fishing best_friend duringcreditsstinger,howard_deutch,romance comedy walter_matthau jack_lemmon ann-...
3,Waiting to Exhale,comedy drama romance,whitney_houston angela_bassett loretta_devine,based_on_novel interracial_relationship single...,forest_whitaker,comedy drama romance whitney_houston angela_ba...
4,Father of the Bride Part II,comedy,steve_martin diane_keaton martin_short,baby midlife_crisis confidence,charles_shyer,comedy steve_martin diane_keaton martin_short ...

In [3]:
recSys2 = RecommendationSystem(data = "dataset/content_by_multiple.csv",content_col="metadata")

In [4]:
recSys2.fit()

In [5]:
recSys2.recommend(0)

,title,genres,cast,keywords,director,metadata
2963,Toy Story 2,animation comedy family,tom_hanks tim_allen joan_cusack,museum prosecution identity_crisis,john_lasseter,animation comedy family tom_hanks tim_allen jo...
14771,Toy Story 3,animation family comedy,tom_hanks tim_allen ned_beatty,hostage college toy,lee_unkrich,animation family comedy tom_hanks tim_allen ne...
24390,The Legend of Mor'du,animation family,tom_hanks tim_allen joan_cusack,toy short toy_story,steve_purcell,animation family tom_hanks tim_allen joan_cusa...
3273,Creature Comforts,animation comedy family,NaN,animation,nick_park,animation comedy family animation nick_park
25917,A Flintstones Christmas Carol,animation comedy family,NaN,NaN,rein_raamat,animation comedy family rein_raamat
41974,Banana,animation comedy family,NaN,NaN,adam_foulkes,animation comedy family adam_foulkes
34722,Open Season: Scared Silly,animation comedy family,NaN,NaN,dee_hibbert-jones,animation comedy family dee_hibbert-jones
25857,"I Want a Dog for Christmas, Charlie Brown",animation comedy family,NaN,NaN,dony_permedi,animation comedy family dony_permedi
29030,Tom and Jerry: Shiver Me Whiskers,animation comedy family,pablo_francisco,NaN,NaN,animation comedy family pablo_francisco
37061,VeggieTales: The Ultimate Silly Song Countdown,animation family,NaN,NaN,NaN,animation family